ion-content{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}

a {
    color: #eee;
    text-decoration: underline;  
}
.transp {
    opacity: 0.5;
}