<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-button  slot="end" color="light" (click)="goback()"> <ion-icon name="exit"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images/header.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Dashboard</ion-card-subtitle>
        <ion-card-title>Welcome to Theta Medika</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       
       <h2> APA ITU HIPNOTERAPI</h2>
       <p class="ion-padding-start">Hipnoterapi terdiri dari dua kata, hipnosis dan terapi. Hipnoterapi adalah terapi yang menggunakan suatu teknik yang dilakukan dalam kondisi hipnosis.
Hipnosis adalah penembusan faktor kritis pikiran sadar dan diikuti dengan diterimanya suatu pemikiran selektif (sugesti).
</p> 
<h2>APAKAH ANDA PERLU HIPNOTERAPI?</h2>    
<p class="ion-padding-start">Ikuti survey <a>klik disini</a></p>
</ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
           
            <ion-card-title>Event & News</ion-card-title>
          </ion-card-header>
        <ion-item detail>   
     
         <ion-label color="primary">Bagaimana supaya mental sehat?</ion-label>
        </ion-item> 
        <ion-item detail>   
          <ion-label color="primary">Mencari Jati diri</ion-label>
        </ion-item> 
        <ion-item detail>   
            <ion-label color="primary">(Event) Seminar Kesehatan Mental 2.0</ion-label>
          </ion-item> 
           <ion-item-divider>
              <ion-label>
                  Sentuh untuk dibawah lihat lebih banyak lagi
               
              </ion-label>
            </ion-item-divider>
            <ion-item detail>   
           
            
             <ion-icon name="watch"></ion-icon>&nbsp;&nbsp; Semua Event
           
         
          </ion-item> 
          <ion-item detail>   
           
              <ion-icon name="paper"></ion-icon>&nbsp;&nbsp;Semua News 
         
        
           </ion-item> 
       
        </ion-card>
   

</ion-content>
