<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-button  slot="end" color="light" (click)="goback()"> <ion-icon name="exit"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Theta Medika</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       
       <h2> APA ITU HIPNOTERAPI</h2>
       <p>Hipnoterapi terdiri dari dua kata, hipnosis dan terapi. Hipnoterapi adalah terapi yang menggunakan suatu teknik yang dilakukan dalam kondisi hipnosis.
Hipnosis adalah penembusan faktor kritis pikiran sadar dan diikuti dengan diterimanya suatu pemikiran selektif (sugesti).
</p> 
<h2>APAKAH ANDA PERLU HIPNOTERAPI?</h2>    
<p>Ikuti survey <a>klik disini</a></p>
</ion-card-content>
    </ion-card>
   

</ion-content>
