<ion-header>
  <ion-toolbar>
    <ion-title>
      Konsultasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/avatar/avatar-leia.png">
            </ion-avatar>
            <ion-label>
              <h2>Dr. Leia</h2>
              <h3>Ahli Psikologi Level 4</h3>
              <p>I've placed information vital to the survival...</p>
            </ion-label>
          </ion-item>
       
        <ion-item>   
        <ion-label position="stacked">Masalah Anda ?</ion-label>  
        <ion-textarea position="stacked" rows="8"></ion-textarea>
        <ion-button position="stacked">Kirim</ion-button>
        </ion-item> 
      
    </ion-card>


    <ion-card class="welcome-card">
    <ion-list>
        <ion-list-header>
          Online
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/avatar/avatar-leia.png">
            </ion-avatar>
            <ion-label>
              <h2>Dr. Leia</h2>
              <h3>Ahli Psikologi Level 4</h3>
              <p>I've placed information vital to the survival...</p>
            </ion-label>
          </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/avatar/avatar-poe.png">
          </ion-avatar>
          <ion-label>
            <h2>Poe</h2>
            <h3>New Ride</h3>
            <p>I just upgraded my X-Wing. Next time...</p>
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/avatar/avatar-ben.png">
          </ion-avatar>
          <ion-label>
            <h2>Ben</h2>
            <h3>Move Along</h3>
            <p>These aren't the droids you're looking for...</p>
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/avatar/avatar-leia.png">
          </ion-avatar>
          <ion-label>
            <h2>Leia</h2>
            <h3>You're My Only Hope</h3>
            <p>I've placed information vital to the survival...</p>
          </ion-label>
        </ion-item>
        <ion-item>   
            <ion-button color="danger">Chat</ion-button>
            <ion-button>Forum</ion-button>
            <ion-button color="secondary">Riwayat</ion-button>
        </ion-item> 
        
      </ion-list>
      </ion-card>
  
</ion-content>
