<ion-header>
  <ion-toolbar>
      <ion-button  slot="start" color="light" routerLink="/tabs/tab2" routerDirection="root"> <ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="welcome-card">
    <ion-card-header>
       
        <ion-card-title>Paket Terapi</ion-card-title>
      </ion-card-header>
     
      <ion-list><ion-radio-group>
        <ion-item>
            <ion-radio slot="start" value="1" checked></ion-radio>
          <ion-label color="primary">Paket Regular(per jam)</ion-label>
          <p>IDR 500K</p>
          <ion-button color="danger" slot="end">
            <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
            <ion-radio slot="start" value="2" ></ion-radio>
          <ion-label color="primary">Paket Coaching Motivasi</ion-label>
          <p>IDR 1500K</p>
          <ion-button color="danger" slot="end">
            <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
            <ion-radio slot="start" value="3"></ion-radio>
          <ion-label color="primary">Paket Perkawinan</ion-label>
          <p>IDR 3500K</p>
          <ion-button color="danger" slot="end">
            <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
            <ion-radio slot="start" value="4" ></ion-radio>
          <ion-label color="primary">Paket Sukses</ion-label>
          <p>IDR 500K</p>
          <ion-button color="danger" slot="end">
            <ion-icon name="cart"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-radio-group>
      </ion-list>

    </ion-card>  

    <ion-card class="welcome-card">
      <ion-card-header>
         
          <ion-card-title>Jadwal</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-label>Tanggal</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" placeholder="Pilih Tanggal"></ion-datetime>
          </ion-item>
          
      <ion-list>
          <ion-list-header>
              Pilih Jam
            </ion-list-header>
        <ion-radio-group>
          <ion-item>
              <ion-radio slot="start" value="1" checked></ion-radio>
            <ion-label color="primary">09:00</ion-label>
          </ion-item>
          <ion-item>
              <ion-radio slot="start" value="2"></ion-radio>
            <ion-label color="primary">10:00</ion-label>
          </ion-item>
          <ion-item>
              <ion-radio slot="start" value="3"></ion-radio>
            <ion-label color="primary">14:00</ion-label>
          </ion-item>
          <ion-item>
              <ion-radio slot="start" value="4"></ion-radio>
            <ion-label color="primary">18:00</ion-label>
          </ion-item>
        </ion-radio-group>
       
      </ion-list>
     
          <ion-button  size="large"  routerLink="/tabs/tab2"  expand="block">Booking</ion-button>
      
     </ion-card>

</ion-content>
