<ion-header>
  <ion-toolbar>
    <ion-title>Profil Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/avatar/avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>800200-554450-30345</h3>
        <p>Premium Membership Club</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-item>
      <ion-label color="primary">Ganti Password</ion-label>
      <ion-button color="dark" slot="end">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-item>
      <ion-label color="primary">My Point and Reward</ion-label>
      <ion-button color="dark" slot="end">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
  
     <ion-label color="primary">Aktifitas </ion-label>
        <ion-button color="dark" slot="end">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>


      </ion-item>
      <ion-item>
        <ion-label color="primary">Riwayat</ion-label>
        <ion-button color="dark" slot="end">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>


      </ion-item>


  </ion-card>

</ion-content>
